# PostgreSQL Connection
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/stki_rag

# API Keys (Pilih salah satu)
GEMINI_API_KEY=
OPENAI_API_KEY=

# App Settings
PROJECT_NAME="STKI RAG API"
VERSION="1.0.0"
