# FastAPI & Server
fastapi
uvicorn
python-multipart

# Configuration & Security
pydantic
pydantic-settings
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
email-validator

# Database
sqlalchemy
pgvector
psycopg2-binary

# AI & RAG (LangChain, Embeddings, LLM)
groq
langchain
langchain-text-splitters
langchain-community
langchain-core
langchain-huggingface
sentence-transformers
tqdm

# Document Loaders & Utilities
pdfplumber
beautifulsoup4
pymupdf
